{var $title = 'List of addons by ' . $vendor}

{block content}
<div id="breadcrumbs">
	<a href="http://nette.org/en/">Nette Framework</a> »
	<a n:href=":Homepage:">Addons, plugins and components</a> »
	<span>Addons by {$vendor}</span>
</div>

<h1>Addons by vendor {$vendor}</h1>

{include ../@addonsList.latte addons => $addons, addonVotes => $addonVotes}
