{var $title = 'List addons'}

{block content}
<div id="breadcrumbs">
	<a href="http://nette.org/en/">Nette Framework</a> »
	<a n:href=":Homepage:">Addons, plugins and components</a> »
	<span>Addons</span>
</div>

<h1>Addons</h1>

{form filterForm}
    {input search}
    {input tag, style => 'width:120px'}
    {input s}
{/form}

<h2>List addons</h2>

{include ../@addonsList.latte addons => $addons, addonVotes => $addonVotes}
