{var $title = 'List my addons'}

{block content}
<div id="breadcrumbs">
	<a href="http://nette.org">Home</a> »
	<a n:href=":Homepage:">Addons, plugins and components</a> »
	<span>My addons</span>
</div>

<h1>My addons</h1>

{include ../@addonsList.latte addons => $addons, addonVotes => $addonVotes}
