{var $robots = noindex}
{var $title = 'Edit addon: ' . $addon->name}

{block main}
<div id="main">
	<div id="content">
		<div id="breadcrumbs">
			<a href="http://nette.org">Home</a> »
			<a n:href=":Homepage:">Addons, plugins and components</a> »
			<span>{$title}</span>
		</div>

		{foreach $flashes as $flash}<div class="flash {$flash->type}">{$flash->message}</div>{/foreach}

		<h1>{$title}</h1>

		{include @addonForm.latte form => editAddonForm}
	</div>
</div>
