

{block content}

<p>Please select an option:</p>

<ol>
	<li>
        <a n:href="import">Import from Git repository</a><br/><br/>
        {control importAddonForm}
    </li>
	<li><a n:href="create">Manually create the addon</a></li>
</ol>
