
{block content}

<div class="well">
	Importing repository versions, please wait for the operation to complete.

	<div class="progress progress-striped active">
	  <div class="bar" style="width: 100%;"></div>
	</div>
</div>


<script type="text/javascript">
	$(function () {
		$.post({link importVersions!}, function (data) {
			if (data.redirect) {
				window.location.href = data.redirect;
			}
		}, 'json');
	});
</script>
