<h3>Categories</h3>

<ul class="nostyle">
	<li><a n:tag-if="$active || $_presenter->name != 'List' || $_presenter->action != 'default'" href="{plink :List:}">All</a></li>
	{foreach $categories as $category}
	<li>
		<a n:tag-if="$category->slug != $active" href="{plink :List: category => $category->slug}">{$category->name}</a>
	</li>
	{/foreach}
</ul>