<h3>Categories</h3>

<ul class="nostyle" id="categories-list">
	<li n:foreach="$categories as $category">
		<a n:tag-if="$category->slug != $active" href="{plink :Homepage:}#toc-{$category->slug}">{$category->name}</a>
	</li>
</ul>
