<div id="wikimenu" n:if="$auth->isAllowed($addon, 'manage')">
	<ul>
		<li>
			<a href="#">Manage <span>&#x25bc;</span></a>
			<ul>
				<li><a rel="nofollow" href="{plink :Detail:default $addon->id}">View</a></li>
				<li><a rel="nofollow" href="{plink :Manage:editAddon $addon->id}">Edit</a></li>
				<li n:if="isset($addon->repositoryHosting) && $addon->repositoryHosting != NULL">
					<a rel="nofollow" href="{plink :Manage:checkVersions $addon->id}">Check updates</a>
				</li>
				<li><a rel="nofollow" href="{plink :Manage:createVersion $addon->id}">Add new version</a></li>
				<li><a rel="nofollow" href="{plink :Manage:add}">Create new addon</a></li>
			</ul>
		</li>
	</ul>
</div>
