#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#

php:
	date.timezone: Europe/Prague


parameters:
	uploadUri: '/upload'
	uploadDir: '%wwwDir%%uploadUri%'
	curlTimeout: 5000 # v ms
	ghApiVersion: beta


nette:
	application:
		errorPresenter: 'Error'
		mapping:
			*: NetteAddons\*\*Presenter

	session:
		expiration: '+ 14 days'

	container:
		debugger: true

	database:
		default:
			dsn: '%database.driver%:host=%database.host%;dbname=%database.dbname%'
			user: %database.user%
			password: %database.password%



services:

	# security
	authenticator: NetteAddons\Model\Authenticator
	authorizator: NetteAddons\Model\Authorizator

	# view
	textPreprocessor: NetteAddons\TextPreprocessor
	gravatar:
		class: emberlabs\GravatarLib\Gravatar
		setup:
			- setMaxRating(pg)
	helperLoader: NetteAddons\HelperLoader(@textPreprocessor, @gravatar)

	# tables
	users: NetteAddons\Model\Users
	addons: NetteAddons\Model\Addons
	addonVersions: NetteAddons\Model\AddonVersions
	addonVotes: NetteAddons\Model\AddonVotes
	versionDependencies: NetteAddons\Model\VersionDependencies
	tags: NetteAddons\Model\Tags

	# validators
	licenses: NetteAddons\Model\Utils\Licenses
	validators: NetteAddons\Model\Utils\Validators
	formValidators: NetteAddons\Model\Utils\FormValidators

	# importing from GitHub
	curlFactory: NetteAddons\Utils\CurlRequestFactory(%curlTimeout%)
	repositoryImporterManager:
		class: NetteAddons\Model\Importers\RepositoryImporterManager
		setup:
			- addImporter(github, @ghImporterFactory, 'NetteAddons\Model\Importers\GitHubImporter')

	# misc
	reinstall: NetteAddons\Model\Reinstall
	versionParser: NetteAddons\Model\Utils\VersionParser


factories:
	ghRepository:
		parameters: [url]
		class: NetteAddons\Model\Importers\GitHub\Repository(%ghApiVersion%, @curlFactory, %url%)

	ghImporter:
		parameters: [url]
		class: NetteAddons\Model\Importers\GitHubImporter(@ghRepository(%url%))
