#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#

php:
	date.timezone: Europe/Prague
	# session.save_path: "%tempDir%/sessions"
	# zlib.output_compression: yes


parameters:
	uploadUri: '/upload'
	uploadDir: '%wwwDir%%uploadUri%'


nette:
	session:
		expiration: '+ 14 days'

	container:
		debugger: true

	database:
		default:
			dsn: '%database.driver%:host=%database.host%;dbname=%database.dbname%'
			user: %database.user%
			password: %database.password%


services:
	databaseConnection: @Nette\Database\Connection
	nette.presenterFactory: NetteAddons\PresenterFactory(%appDir%, @container)
	templateFactory: NetteAddons\TemplateFactory(@nette.templateCacheStorage, ...)

    # security
	authenticator: NetteAddons\Model\Authenticator
	authorizator: NetteAddons\Model\Authorizator

    # tables
	users: NetteAddons\Model\Users
	addons: NetteAddons\Model\Addons
	tags: NetteAddons\Model\Tags
	addonVersions: NetteAddons\Model\AddonVersions
	addonVotes: NetteAddons\Model\AddonVotes
	versionDependencies: NetteAddons\Model\VersionDependencies

	# importing
	addonUpdater: NetteAddons\Model\AddonUpdater

	# github
	curl: NetteAddons\Curl( 50000 )

	reinstall: NetteAddons\Model\Reinstall

	repositoryImporterFactory:
		class: NetteAddons\Model\Importers\RepositoryImporterFactory
		arguments: [{
			github: @ghImporterFactory
		}]

factories:
	ghRepository:
		parameters: [vendor, name]
		class: NetteAddons\Model\Importers\GitHub\Repository( @curl, %vendor%, %name% )

	ghImporter:
		parameters: [vendor, name]
		class: NetteAddons\Model\Importers\GitHubImporter( @ghRepository(%vendor%, %name%) )
