# copy this file to config.local.neon

parameters:
	database:
		driver: mysql
		host: localhost
		dbname: test
		user:
		password:

services:
	authenticator: NetteAddons\Model\NetteOrgAuthenticator('netteLoginApiPassword')
