{*
	Addon detail on homepage

	@param $addon NetteAddons/Addon ?

*}

<div class="span3">
	<h3><a n:href="Detail: $addon->id">{$addon->name}</a></h3>
	<p>Lorem Ipsum</p>
	<p><a class="btn" n:href="Detail: $addon->id">View details &raquo;</a></p>
</div>