{*
	Addon detail on homepage

	@param $addon NetteAddons/Addon ?
	
*}

<div class="span3">
	<h3><a href="javascript:;">ConfirmationDialog</a></h3>
	<p>Snadné a bezpečné potvrzování akcí</p>
	<p><a class="btn" href="#">View details &raquo;</a></p>
</div>