{var $robots = noindex}
{var $title = 'Method Not Allowed'}
{block main}
<div id="main">
	<div id="content">
		<h1>{$title}</h1>

		<p>The requested method is not allowed for the URL.</p>

		<p><small>error 405</small></p>

		<img src="{$basePath}/images/400.jpg" alt="" class="noborder right">
	</div>
</div>
