{var $robots = noindex}
{var $title = 'Oops...'}
{block main}
<div id="main">
	<div id="content">
		<h1>{$title}</h1>

		<p>Your browser sent a request that this server could not understand or process.</p>

		<img src="{$basePath}/images/400.jpg" alt="" class="noborder right">
	</div>
</div>
