{var $title = 'List deleted addons'}

{block content}
<div id="breadcrumbs">
	<a href="http://nette.org">Home</a> »
	<a n:href=":Homepage:">Addons, plugins and components</a> »
	<span>Deleted addons</span>
</div>

<h1>Deleted addons</h1>

<h2>List addons</h2>

{include ../../../templates/@addonsList.latte addons => $addons, addonVotes => $addonVotes}
