{block content}

<ul>
	<li n:foreach="$authors as $author">
		<strong>{$author|userlink}:</strong>
		{foreach $author->related('addon') as $addon}
			{$addon|addonlink}{sep}, {/sep}
		{/foreach}
	</li>
</ul>