{block content}

<div class="row">
	<div class="span9">
		<h1>{$author->name}</h1>
		<img src="http://forum.nette.org/cs/img/avatars/2118.jpg" alt="{$author->name}" />

		{foreach $author->related('addon') as $addon}
			{$addon|addonlink}{sep}, {/sep}
		{/foreach}
		
	</div>
	

	<div class="span3">
		{include '../Layout/sidebar.latte'}
	</div>
</div>