{block content}

<div class="row">
	<div class="span9">
		<h1><img class="user-icon" src="{$basePath}/images/user.png" alt="{$author->name}" /> {$author->name}</h1>
		

		{foreach $author->related('addons') as $addon}
			{$addon|addonlink}{sep}, {/sep}
		{/foreach}
		
	</div>
	

	<div class="span3">
		{include '../Layout/sidebar.latte'}
	</div>
</div>