{var $robots = noindex}
{var $title = 'Edit page: ' . $page->name}

{block main}
<div id="main">
	<div id="content">
		<div id="breadcrumbs">
			<a href="http://nette.org/en/">Nette Framework</a> »
			<a n:href=":Homepage:">Addons, plugins and components</a> »
			<a n:href="default">{$page->name}</a> »
			<span>Edit</span>
		</div>

		{foreach $flashes as $flash}<div class="flash {$flash->type}">{$flash->message}</div>{/foreach}

		<h1>{$title}</h1>

		{control editPageForm}
	</div>
</div>
