<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	<meta name="description" content="Nette Framework web application skeleton">
	<meta name="robots" content="{$robots}" n:ifset="$robots">

	<title>{block #title}Nette Addons{/block}</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/screen.css" type="text/css">
	<link rel="stylesheet" media="print" href="{$basePath}/css/print.css" type="text/css">
	<link rel="shortcut icon" href="{$basePath}/favicon.ico" type="image/x-icon">

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
	<script type="text/javascript" src="{$basePath}/js/netteForms.js"></script>
	{block head}{/block}
</head>

<body>
	<script> document.body.className+=' js' </script>


	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" n:href="Homepage:">Nette Addons</a>
				<div class="nav-collapse">
					<ul class="nav">
						<li n:class="$presenter->name === 'Homepage' ? active"><a n:href="Homepage:">Home</a></li>
						<li n:class="$presenter->name === 'List' ? active"><a n:href="List:">Browse all</a></li>
					</ul>
					<p class="navbar-text pull-right">
						{if $user->isLoggedIn()}
							Logged in as <a href="javascript:;">{$user->identity->name}</a> / <a n:href="Sign:out">Logout</a>
						{else}
							<a n:href="Sign:in">Login</a>
						{/if}
					</p>
				</div><!--/.nav-collapse -->
			</div>
		</div>
	</div>

	<div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>

	<div class="container">

		{include #content}

		<hr>

		<footer>
			<p>&copy; <a href="http://nettefoundation.com/" >Nette Foundation</a> 2012</p>
		</footer>
	</div>
</body>
</html>
