form .form label {
	display: block;
}
form .form .required {
	color: black;
}
form .form .required small {
	font-weight: normal;
}

.hide {
	display: none;
}

.sidebar .info {
	clear: both;
	color: #666;
}
.sidebar .info h3 {
	color: #26374e;
	margin: 0 0 .2em;
}
.sidebar .info ul {
	margin:0;
}
.sidebar .info ul.nostyle {
	list-style: none;
}
.sidebar .info ul.nostyle li {
	margin: .2em 0 .2em 0;
}
.sidebar .info ul.nostyle ul {
	list-style: disc;
}
.sidebar .info ul.nostyle ul li {
	margin: .2em 0 .2em 1.70em;
}

/* Neon */
.neon-section, .neon-key {color: #448CCB;}
.neon-sep {color: #000;}
.neon-comment {color: #777;}
.neon-value, .neon-quote {color: brown;}
.neon-num {color: red;}
.neon-var, .neon-ref {color: #003663; font-weight: bold;}

.addon-download {
	background: url('../images/download-button.gif') repeat-x left;
	border-radius: 8px;
	color: black;
	display: block;
	font-family: Georgia,"New York CE",utopia,serif;
	font-size: 191%;
	height: 45px;
	line-height: 45px;
	margin: 20px 0;
	padding: 0;
	text-align: center;
}
.addon-download:hover, .addon-download:focus {
	background: url('../images/download-button-active.gif') repeat-x left;
	border-radius: 8px;
	color: black;
}

.addon-authors li {
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	padding: 0 0 5px 0;
}
.addon-authors img {
	float: left;
	margin-right: 15px;
}
.addon-authors span {
	float: left;
	line-height: 60px;
}
.addon-authors span.gravatar {
	line-height: 40px;
}
