@import 'combined.css';

.form .required {
	color: black;
}
.form .required small {
	font-weight: normal;
}

.input-full, .form chzn-container {
	width: 100%;
}

.input-half {
	width: 50%;
}

.input-third {
	width: 33%;
}

.form textarea.input-low {
	height: 30px;
}

.input-large {
	font-size: 1.4em;
}

.hide {
	display: none;
}

.table-full {
	width: 100%;
}

.addon .name {
	width: 30%;
}

#page #tools {
	white-space: nowrap;
}

#content table tr.addon.deleted td {
	background-color: #FFE1E1;
}
#content table tr.addon.alt.deleted td {
	background-color: #FFF1F1;
}

#content table th a {
	color: white;
}

/*#sidebar .info {
	clear: both;
	color: #666;
}*/

#sidebar .bigbutton {
	background: #26374E;

	border-radius: 8px;
	color: white;
	display: block;
	font-size: 140%;
	height: 35px;
	line-height: 35px;
	margin: 0 0 20px;
	padding: 0;
	text-align: center;
}

#sidebar .bigbutton:hover, #sidebar .bigbutton:focus {
	background-color: #78AFE5;
	color: black;
}

#sidebar .bigbutton .icon-download {
	margin-top: 5px;
	margin-right: 5px;
}

#sidebar .info h3 {
	color: #26374e;
	margin: 0 0 .2em;
}
#sidebar .info ul {
	margin:0;
}
#sidebar .info ul.nostyle {
	list-style: none;
}
#sidebar .info ul.nostyle li {
	margin: .2em 0 .2em 0;
}
#sidebar .info ul.nostyle ul {
	list-style: disc;
}
#sidebar .info ul.nostyle ul li {
	margin: .2em 0 .2em 1.70em;
}

.sidebar-box {
	margin-bottom: 2em;
}

.chzn-select {
	width: 500px;
}

/* Neon */
.neon-section, .neon-key {color: #448CCB;}
.neon-sep {color: #000;}
.neon-comment {color: #777;}
.neon-value, .neon-quote {color: brown;}
.neon-num {color: red;}
.neon-var, .neon-ref {color: #003663; font-weight: bold;}

.addon-composer-use {
	font-size: 135%;
	margin: 10px 0 5px;
	text-align: center;
}

.addon-heading {
	position: relative;
}
.addon-heading h1 {
	padding-right: 100px;
}
.addon-heading h1.warning {
	background-position: 15px center;
	margin: .3em 0;
	padding: 5px 10px 5px 80px;
}
.addon-version {
	color: #999;
	font-size: 65%;
	margin-left: 15px;
}
.addon-archive-link {
	position: absolute;
	right: 0;
	top: 23px;
}
.addon-warning .addon-archive-link {
	right: 10px;
}

input.addons-search {
	border: 1px black solid;
	background-color: white;
}

body.js input.addons-search {
	display: block;
}

div.addon-composer {
	padding: 15px;
	margin-bottom: 30px;
}
.addon-composer h2 {
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
.addon-composer h2 span {
	padding-right: 15px;
	font-size: 70%;
}
.addon-composer p {
	color: #aaa;
	font-size: 90%;
	font-style: italic;
	margin: 0 0 -5px;
	text-indent: 0;
}
.addon-composer p a {
	color: #999;
}
.addon-composer p a:hover, .addon-composer p a:focus {
	color: white;
}
.addon-composer p a:hover code, .addon-composer p a:focus code {
	background-color: transparent;
}

li.gravatars {
	list-style-type: none;
	margin: 0 0 5px;
}

img.gravatar {
	margin-right: 8px;
}
/** icons */
[class^="icon-"],
[class*=" icon-"] {
	display: inline-block;
	width: 14px;
	height: 14px;
	line-height: 14px;
	vertical-align: text-top;
	background-position: 14px 14px;
	background-repeat: no-repeat;
	*margin-right: .3em;
	*margin-right: .3em;
}
[class^="icon-"]:last-child,
[class*=" icon-"]:last-child {
	*margin-left: 0;
}
[class^="icon-"]:last-child,
[class*=" icon-"]:last-child {
	*margin-left: 0;
}

.table-vote .thumb {
	padding: 0 7px;
}
.table-vote .num {
	font-size: 13px;
	color: #999999;
}
.table-vote td.wrap-progress {
	width: 300px;
	padding-top: 20px;
}
.icon-thumb_down {
	background: url(../images/thumb_down.png) no-repeat;
}
.icon-thumb_up {
	background: url(../images/thumb_up.png) no-repeat;
}
.icon-thumb_down.off {
	background: url(../images/thumb_down_grey.png) no-repeat;
}
.icon-thumb_up.off {
	background: url(../images/thumb_up_grey.png) no-repeat;
}
.icon-download {
background: url(../images/li-download.gif) no-repeat;
	width: 15px;
	height: 16px;
}

.progress {
	overflow: hidden;
	height: 18px;
	margin-bottom: 18px;
	background-color: #f7f7f7;
	background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
	background-image: -ms-linear-gradient(top, #f5f5f5, #f9f9f9);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
	background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
	background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
	background-image: linear-gradient(top, #f5f5f5, #f9f9f9);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#f9f9f9', GradientType=0);
	background-color: #f7f7f7;
	background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
	background-image: -ms-linear-gradient(top, #f5f5f5, #f9f9f9);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
	background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
	background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
	background-image: linear-gradient(top, #f5f5f5, #f9f9f9);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#f9f9f9', GradientType=0);
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.progress .bar {
	width: 0%;
	height: 18px;
	color: #ffffff;
	font-size: 12px;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #0e90d2;
	background-image: -moz-linear-gradient(top, #149bdf, #0480be);
	background-image: -ms-linear-gradient(top, #149bdf, #0480be);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#149bdf), to(#0480be));
	background-image: -webkit-linear-gradient(top, #149bdf, #0480be);
	background-image: -o-linear-gradient(top, #149bdf, #0480be);
	background-image: linear-gradient(top, #149bdf, #0480be);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#149bdf', endColorstr='#0480be', GradientType=0);
	background-color: #0e90d2;
	background-image: -moz-linear-gradient(top, #149bdf, #0480be);
	background-image: -ms-linear-gradient(top, #149bdf, #0480be);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#149bdf), to(#0480be));
	background-image: -webkit-linear-gradient(top, #149bdf, #0480be);
	background-image: -o-linear-gradient(top, #149bdf, #0480be);
	background-image: linear-gradient(top, #149bdf, #0480be);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#149bdf', endColorstr='#0480be', GradientType=0);
	-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: width 0.6s ease;
	-moz-transition: width 0.6s ease;
	-ms-transition: width 0.6s ease;
	-o-transition: width 0.6s ease;
	transition: width 0.6s ease;
	-webkit-transition: width 0.6s ease;
	-moz-transition: width 0.6s ease;
	-ms-transition: width 0.6s ease;
	-o-transition: width 0.6s ease;
	transition: width 0.6s ease;
}
.progress-yesno {
	background-color: #5eb95e;
	background-image: -moz-linear-gradient(top, #62c462, #57a957);
	background-image: -ms-linear-gradient(top, #62c462, #57a957);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#57a957));
	background-image: -webkit-linear-gradient(top, #62c462, #57a957);
	background-image: -o-linear-gradient(top, #62c462, #57a957);
	background-image: linear-gradient(top, #62c462, #57a957);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957', GradientType=0);
	background-color: #5eb95e;
	background-image: -moz-linear-gradient(top, #62c462, #57a957);
	background-image: -ms-linear-gradient(top, #62c462, #57a957);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#57a957));
	background-image: -webkit-linear-gradient(top, #62c462, #57a957);
	background-image: -o-linear-gradient(top, #62c462, #57a957);
	background-image: linear-gradient(top, #62c462, #57a957);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957', GradientType=0);
}
.progress-success .bar {
	background-color: #dd514c;
	background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#c43c35));
	background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: linear-gradient(top, #ee5f5b, #c43c35);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
	background-color: #dd514c;
	background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#c43c35));
	background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: linear-gradient(top, #ee5f5b, #c43c35);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
}
.progress-yesno .bar {
	border-right: 1px solid #dbdfcc;
}
.progress-disabled,
.progress-disabled .bar {
	background-color: #afafaf;
	background-image: -moz-linear-gradient(top, #bfbfbf, #979797);
	background-image: -ms-linear-gradient(top, #bfbfbf, #979797);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#bfbfbf), to(#979797));
	background-image: -webkit-linear-gradient(top, #bfbfbf, #979797);
	background-image: -o-linear-gradient(top, #bfbfbf, #979797);
	background-image: linear-gradient(top, #bfbfbf, #979797);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bfbfbf', endColorstr='#979797', GradientType=0);
	background-color: #afafaf;
	background-image: -moz-linear-gradient(top, #bfbfbf, #979797);
	background-image: -ms-linear-gradient(top, #bfbfbf, #979797);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#bfbfbf), to(#979797));
	background-image: -webkit-linear-gradient(top, #bfbfbf, #979797);
	background-image: -o-linear-gradient(top, #bfbfbf, #979797);
	background-image: linear-gradient(top, #bfbfbf, #979797);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bfbfbf', endColorstr='#979797', GradientType=0);
}

#header.loggedin {
	height: 120px;
}

#submenu li, div.linkst li, div.linksb li, div.postlinksb li, div.postfootright li {
	display: inline;
	height: 0;
	margin-right: 1em
}

#submenu ul {
	font: 11px/27px "Open Sans","Trebuchet MS","Geneva CE",lucida,sans-serif;
	position: absolute;
	right: 0;
	top: 86px;
	padding: 0;
	list-style: none;
	height: 27px;
}

#submenu li {
	float: left;
	padding: 0;
	margin: 0;
	height: auto;
}

#submenu a {
	display: block;
	padding: 0 0 0 10px;
	margin: 0 1px;
	line-height: 27px;
	color: white;
	font-size: 130%;
	text-decoration: none;
}

#submenu a span {
	display: inline-block;
	padding: 0 10px 0 0;
	height: 27px;
}

#submenu a.active {
	color: black;
	background: #78AFE5 url('../images/menu-button-small-active.gif') no-repeat left;
}

#submenu a.active span {
	background: #78AFE5 url('../images/menu-button-small-active.gif') no-repeat right;
}

#submenu a:hover, #submenu a:active, #submenu a:focus {
	color: black;
	background: #FFEA99 url('../images/menu-button-small.gif') no-repeat left;
}

#submenu a:hover span, #submenu a:active span, #submenu a:focus span {
	background: #FFEA99 url('../images/menu-button-small.gif') no-repeat right;
}

#sidebar {
	padding-top: 25px;
}

#sidebar .sidebar-box ul {
	list-style-type: none;
}

#sidebar .sidebar-box li {
	margin-left: 1em;
}

.spinner-container {
	text-align: center;
}
.spinner-container h1 {
	padding-top: 59px;
}
.spinner {
	display: inline-block;
	margin: 100px auto;
}

#search-query {
    padding: 5px 10px;
}

#feedback {
	height: 104px;
	width: 104px;
	position: fixed;
	top: 40%;
	z-index: 999;
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#feedback a {
	display: block;
	background: #26374E;
	height: 25px;
	width: 80px;
	padding: 2px 8px;
	color: #fff;
	text-decoration: none;
}

#feedback a:hover {
	background: #78AFE5;
	color: black;
}
