@import 'combined.css';

form .form label {
	display: block;
}
form .form .required {
	color: black;
}
form .form .required small {
	font-weight: normal;
}

.hide {
	display: none;
}

.sidebar .info {
	clear: both;
	color: #666;
}
.sidebar .info h3 {
	color: #26374e;
	margin: 0 0 .2em;
}
.sidebar .info ul {
	margin:0;
}
.sidebar .info ul.nostyle {
	list-style: none;
}
.sidebar .info ul.nostyle li {
	margin: .2em 0 .2em 0;
}
.sidebar .info ul.nostyle ul {
	list-style: disc;
}
.sidebar .info ul.nostyle ul li {
	margin: .2em 0 .2em 1.70em;
}

/* Neon */
.neon-section, .neon-key {color: #448CCB;}
.neon-sep {color: #000;}
.neon-comment {color: #777;}
.neon-value, .neon-quote {color: brown;}
.neon-num {color: red;}
.neon-var, .neon-ref {color: #003663; font-weight: bold;}

.addon-composer-use {
	font-family: Georgia,"New York CE",utopia,serif;
	font-size: 135%;
	margin: 10px 0 5px;
	text-align: center;
}
.addon-download {
	background: url('../images/download-button.gif') repeat-x left;
	border-radius: 8px;
	color: black;
	display: block;
	font-family: Georgia,"New York CE",utopia,serif;
	font-size: 191%;
	height: 45px;
	line-height: 45px;
	margin: 0 0 20px;
	padding: 0;
	text-align: center;
}
.addon-download:hover, .addon-download:focus {
	background: url('../images/download-button-active.gif') repeat-x left;
	border-radius: 8px;
	color: black;
}

.addon-heading {
	position: relative;
}
.addon-heading h1 {
	padding-right: 100px;
}
.addon-version {
	color: #999;
	font-size: 65%;
	margin-left: 15px;
}
.addon-archive-link {
	position: absolute;
	right: 0;
	top: 23px;
}

.addon-composer {
	background-color: #F1F7FF;
	border: 1px solid #D8DCE1;
	border-radius: 8px;
	margin-bottom: 25px;
	overflow: hidden;
	padding: 15px;
}
.addon-composer-label {
	color: #999;
	padding-right: 15px;
}
.addon-composer-name {
	font-family: Consolas;
	font-size: 150%;
	text-align: center;
}
