/**
 * Nette Addons
 * 
 */

body {
	padding-top: 60px;
	padding-bottom: 40px;
}


h1 {
	padding-bottom: 12px;
}


a:hover .label {
	text-decoration: none;
}

.hero-unit {
	padding-bottom: 40px;
	padding-top: 50px;
}

.small {
	font-size: 11px;
}



// Homepage
.homepage-addons {
	h2 {
		padding-bottom: 10px;
	}


}



// List

.addon-list-item {
	border-bottom: 1px dotted @grayLight;
	margin-bottom: 10px;
	padding-bottom: 10px;

	.icon img {
		display: block;
		margin: 10px auto auto;
	}
}

// Sidebar

.box-create-addon {
	text-align: center;
}




// Detail

.addon-detail {

	.icon {
		padding-top: 20px;
	}

	.addon-download {
		text-align: right;
	}


	.vendor {
		color: @grayLight;
	}

}

.author {
	.date {
		color: @grayLight;
		font-size: @baseFontSize - 2px;
	}
}

.box-vote {
	padding-bottom: 15px;
	text-align: center;

	.votes {
		padding: 10px;
		text-align: right;
		font-size: 60px;
	}
}

.box-versions {
	margin-top: 20px;

	h3 {
		padding-bottom: 10px;
	}
}

.downloads {

	h4 {
		padding-bottom: 5px;
	}

	h5 {
		padding-top: 10px;
	}
}



// Users

.authors-list {
	.author {
		position: relative;

		.badge {
			position: absolute;
			right: 3px;
			top: -5px;
		}
	}

	h2 {
		font-size: @baseFontSize + 3;
	}

}